*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(76, 153, 163), rgb(24, 97, 107));
    color: white;
}
h1{
  color: rgb(38, 90, 99);
  font-size: 50px;
}

.wrapper{
    width: 400px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  }

.wrapper #input{
    margin: 20px 25px 30px;
  }
  .wrapper button{
    margin: 20px 25px 30px;
  }
.wrapper2 #location, 
.wrapper2 #temperature {
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    justify-content: space-around;
    
}


#input {
    width: 350px;
    text-align: center;
    height: 55px;
    padding: 5px 10px;
    background: paleturquoise;
    border: none;
    border-radius: 1px;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 20px;
    border-radius:  5px 5px 5px 5px;
    vertical-align: middle;
    
  }

  button {
    
       flex-direction: row;
      width: 350px;
      height: 55px;
      font-size: 18px;
      border-radius: 7px;
      padding: 5px 10px;
      background: paleturquoise;
      align-items: center;
       justify-content: space-around; 
      margin-right: 5px;
      text-align: center;
      vertical-align: middle; 
      text-transform: capitalize;
  }

  #input .separator{
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .separator::before{
    
    content: "or";
    color: #b3b3b3;
    font-size: 19px;
    padding: 0 190px;
    background: #fff;
   

  }

  img {
    max-width: 125px;
  }

  .wrapper2 {
   
    color: black;
    width: 400px;
    border-radius: 7px;
    background: paleturquoise;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 5px;
    text-align: center;
    line-height: 5em;
    text-transform: capitalize;
  
  }
 